body {
  background-color: #181a19;
  color: #ffffff;
  margin: 0 auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Inter", Arial, sans-serif;
  src: url(/fonts/Web/inter.css);
}
