@import url(./vendors/normalize.css);

body {
  background-color: #181a19;
  color: #ffffff;
}

a {
  color: #ffffff;
}

img {
  max-width: 100%;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  padding-right: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 176px;
}

.header__lang-link {
  font-weight: normal;
  line-height: 111%;
  text-align: right;
  text-decoration-line: underline;
}

.wrapper {
  max-width: 930px;
  margin: 0 auto;
}

.lead__title {
  font-weight: 900;
  line-height: 104%;
  text-align: center;
}

.lead__subtitle {
  font-weight: normal;
  line-height: 120%;
  text-align: center;
  margin-bottom: 64px;
}

.lead__img-contain {
  margin: auto;
  max-width: 968px;
}

.lead__image{
  margin: 0 auto 8px;
}

.lead__caption {
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin-bottom: 40px;
}

.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
}

.intro__list {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
}

.intro__list span {
  font-weight: normal;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 16px;
}

.photo-grid img {
  max-width: 284px;
}


@media screen and (max-width: 320px) {

}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 1024px) {

}


@media and (max-width: 1280px) {

}
