.cover {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/sprint-3-images/cover-trains.jpg);
  min-height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 92px;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 0 -48px 92px;
    min-height: 640px;
    min-width: 100vw;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin: 0 -24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 60vw;
    margin: 0 -16px 64px;
  }
}
