.cover__title {
	position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }
}
